.digital-twin-visualization {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
}

.node {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
}

.connector {
  position: absolute;
  height: 2px;
  background-color: var(--accent-color);
  transform-origin: left;
}
