/* Main Loading Screen */
.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b1c;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.main-loading.is-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s 0s;
}

.main-loading__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.05em;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .main-loading__text {
    font-size: 60px;
  }
}

.main-loading__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 1.2em;
  overflow: hidden;
}

.main-loading__digit {
  display: inline-block;
  width: 0.6em;
  text-align: center;
  animation: digitSlide 1.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.main-loading__digit:nth-child(1) {
  animation-delay: 0s;
}

.main-loading__digit:nth-child(2) {
  animation-delay: 0.1s;
}

.main-loading__digit:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes digitSlide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hardware acceleration */
.main-loading,
.main-loading__text,
.main-loading__digit {
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
